<section class="footer" id="footer">
    <div class="box-container">
        <div class="box">
            <h3>About <i class="fa-solid fa-gavel"></i></h3>
            <p>We're are open and ready for business 24 / 7 Contact us ...</p>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fas fa-whatsapp"></a>
            </div>
        </div>
        <div class="box">
            <h3>Dev Team Info <i class="fa-solid fa-computer"></i></h3>
            <p>We're are open and ready for business 24 / 7 Contact us ...</p>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fas fa-whatsapp"></a>
            </div>
        </div>
        <div class="box">
            <h3>Contact Info <i class="fa fa-phone"></i></h3>
            <span><i class="fa fa-phone"></i>+234 - 8181734574</span>
            <span><i class="fab fa-whatsapp"></i>+2348181734574</span>
            <span><i class="fas fa-envelope"></i> peters.soft.network@gmail.com</span>
            <span><i class="fas fa-map-marker-alt"></i> Trans-Amadi Layout, PH City</span>
        </div>
        <div class="box">
            <h3>Credits <i class="fa-solid fa-check"></i></h3>
            <span><i class="fa-solid fa-check"></i>UI credits: Mr Web Designer</span>
            <span><i class="fa-solid fa-check"></i>UI credits: Pinterest</span>
            <span><i class="fa-solid fa-check"></i>UI credits: Dribble.com</span>
            <span><i class="fa-solid fa-check"></i>Peters Soft Developers</span>
        </div>
    </div>
</section>
