
    <h1 class="heading">Our <span>Services</span></h1>
    <div class="row">
        <div class="col-2">
        <div class="blog-img">
                <img class="img" src="/img/chris.jpg" alt="services">
            </div>
        </div>
        <div class="col-2">
            <span>Let us be your plug for Business Consultancy and Advisory Services</span>
            <h1>Help Konsult International ...</h1>
            <div class="services-list">
                <ul>
                    <li>
                        <span class="icon"><i class="fa-solid fa-gavel"></i></span>
                        <div>
                            <h4>Multilingual Consultants</h4>
                            <p>
                                Our multilingual consultants are a definite asset in communicating with the project
                                stakeholders; minimizing the gap that usually occurs due to language and culture
                                barriers.
                            </p>
                        </div>
                    </li>
                    <li>
                        <span class="icon"><i class="fa-solid fa-gavel"></i></span>
                        <div>
                            <h4>World Class Project Management</h4>
                            <p>
                                HELP Konsult outsources experienced Project Managers to many worldwide elite enterprises
                                . Experience our Project Management Services that shall be embedded in our proposed services.
                            </p>
                        </div>
                    </li>
                    <li>
                        <span class="icon"><i class="fa-solid fa-gavel"></i></span>
                        <div>
                            <h4>Business Advisory</h4>
                            <p>
                                While enterprises may not be able to control interruption event, we help in
                                controlling the impact it has on the business. HELP Konsult works closely with companies
                                to identify risk and limit its impact.
                                We offer solutions and tools — and answers to real world
                            </p>
                        </div>
                    </li>
                    <li>
                        <span class="icon"><i class="fa-solid fa-gavel"></i></span>
                        <div>
                            <h4>Enterprise/ Business Continuity Management.</h4>
                            <p>
                                HELP assists enterprises in building their Business Continuity Management [BCM] framework;
                                coaching in identifying, prioritizing, and managing enterprise risks;
                                leading to achievable strategic objectives and keeping business on track.
                            </p>
                        </div>
                    </li>
                    <li>
                        <span class="icon"><i class="fa-solid fa-gavel"></i></span>
                        <div>
                            <h4> Human Assets</h4>
                            <p>
                                We make sure your safety and ergonomic programs are actually decreasing incidents significantly;
                                helping you protect your most valuable asset: your people.
                            </p>
                        </div>
                    </li>
                    <li>
                        <span class="icon"><i class="fa-solid fa-gavel"></i></span>
                        <div>
                            <h4>Enterprise & Solutions Architecture</h4>
                            <p>
                                When you think of a solution, it includes the hardware, software,
                                and supporting people and documentation to solve a problem or reach a certain business goal.
                            </p>
                        </div>
                    </li>
                    <li>
                        <span class="icon"><i class="fa-solid fa-gavel"></i></span>
                        <div>
                            <h4>Claims and Litigation Support</h4>
                            <p>
                                We help you conduct financial investigations and extract, authenticate, and preserve digital information.
                                We help resolve insured — and uninsured — losses and resolve virtually any kind of dispute
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <br>
    <h1 class="heading">Practical<span>Services</span></h1>
    <div class="row">
        <div class="col-2">
        <div class="blog-img">
                <img class="img" src="./img/services.jpg" alt="services">
            </div>
        </div>
        <div class="col-2">
            <ol>
                <li>Carry out research and data collection to understand the organization.</li>
                <li>Conduct Analysis</li>
                <li>Interview the client's employees, Management team and other stake holders.</li>
                <li>Run focus groups and facilitate workshops.</li>
                <li>Prepare business proposals and presentations.</li>
                <li>Identify issues and form hypothesis and solutions.</li>
                <li>Present findings and recommendations to clients.</li>
                <li>
                    Implement recommendations or solutions and ensure the client receives the
                    necessary assistance to carry it all out.
                </li>
                <li>Manage projects and programmes</li>
                <li>Lead and manage those within the team including analysts.</li>
                <li>Liase with the client to keep them informed of progress and to make relevant decisions.</li>
            </ol>
        </div>
    </div>